<footer class="{{ theme }} footer-95942">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6 col-md mb-4 mb-md-0">
            <h3>Discover</h3>
            <ul class="list-unstyled nav-links">
              <li><a routerLink="/sea-water-ph">Acidification</a></li>
              <li><a routerLink="/eutrophication">Eutrophication</a></li>
              <li><a routerLink="/fish-stocks">Fishery Collapse</a></li>
              <li><a routerLink="/ocean-warming">Ocean Warming</a></li>
              <li>
                <a routerLink="/beach-litter">Plastic/Marine Pollution</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md mb-4 mb-md-0">
            <h3>About</h3>
            <ul class="list-unstyled nav-links">
              <li><a routerLink="/about" fragment="team">Team</a></li>
              <li><a routerLink="/about" fragment="contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md mb-4 mb-md-0">
            <h3>Progress and Info</h3>
            <ul class="list-unstyled nav-links">
              <li><a href="#">Events</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Awards</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md mb-4 mb-md-0">
            <h3>Help</h3>
            <ul class="list-unstyled nav-links">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-md-12 pb-3">
        <div class="border-top"></div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <ul class="list-unstyled social mb-0 pb-0 nav-left">
          <li>
            <a href="#"><span class="icon-twitter"></span></a>
          </li>
          <li>
            <a href="#"><span class="icon-facebook"></span></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <span class="small"
          >© Copyright 2022: Palo-Landrae - All Rights Reserved.</span
        >
      </div>
    </div>
  </div>
</footer>
