.logo {
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-image: url("..\..\assets\img\whale_icon_256x256.png");
}