<nav class="inline-flex justify-center sticky top-0 w-full mx-auto z-50 bg-blue-200 dark:bg-gray-900 px-4">
    <div class="me-auto inline-flex w-full px-4">
        <a class="navbar-brand brand inline-flex items-center" routerLink="/">
            <img class="logo" />
            <div class="mx-2 h-24 w-4"></div>
            <h2 class="hidden md:flex">Sustainable Development | Goal 14</h2>
            <span class="md:hidden flex">SDG 14</span>
        </a>
        <div class="flex flex-1"></div>
        <a class="inline-flex items-center mx-2" routerLink="/" fragment="home-landing">Home</a>
        <a class="inline-flex items-center mx-2" routerLink="/about" fragment="about-landing" style="width: 68px">About
            Us</a>
        <app-indicators-dropdown class="inline-flex items-center mx-2"></app-indicators-dropdown>
        <app-theme-button class="inline-flex items-center mx-2"></app-theme-button>
    </div>
</nav>